/* Import Lato */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,400italic,700italic);

/* Import Raleway */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,300,600,700,200italic,300italic,400italic,500italic,600italic,700italic,200);

body {
  font-size: 100%;
  font-family: 'Raleway', sans-serif;
}

section {
  background: rgb(252,241,240);
  text-align: left;
  color: #333;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 85%;
  padding-top: 3%;
  padding-bottom: 3%;
  position: relative;
}

.left {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /*justify-content: center;*/
  width: 47%;
  resize: vertical;
  overflow: auto;
  padding-left: 0;
  padding-right: 3%;
}

.left-image {
  position: relative;
  width: 50%;
  flex-grow: 1;
}

.right-image {
  position: relative;
  width: 50%;
  flex-grow: 1;
}

.image-center img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin:auto;
}

.right {
  width: 47%;
  flex-grow: 1;
  padding-left: 3%;
  padding-right: 0;
}

.table-label {
  text-align: center;
  margin-bottom: -10%;
}

.full {
  background: rgb(255,255,255);
  padding: 0;
  padding-top: 2em;
}

.full-image {
  padding-top: 5em;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-weight: 300;
  line-height: 1.2em;
}

h3 {
  font-weight: 300;
  line-height: 1.1em;
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  resize: vertical;
  overflow: auto;
}

li {
  font-size: 0.9em;
  margin-bottom: 1%;
}

sub {
  font-size: 0.5em;
}

#follow {
  background: none;
}

.caption {
  padding-left: 20%;
  padding-right: 20%;
  line-height: 1.2em;
  text-align: center;
}

.emph {
  font-style: italic;
  font-weight: 600;
}

/* Green */
.correct {
  color: rgb(100, 199, 0);
}

/* Red */
.incorrect {
  color: rgb(230, 87, 72);
}


.title {
  font-size: 2em;
  text-align: center;
  line-height: 1.0em;
}

.footer {
  position: absolute;
  bottom: 2.5em;
  left: 0.35em;
  display: inline-block;
  font-size: 0.5em;
}

.right-corner {
  position: absolute;
  top: 3.0em;
  right: 0.5em;
  display: inline-block;
}

.tree-green {
  color: rgb(65,153,43);
}

.tree-blue {
  color: rgb(16,70,131);
}


.highlight {
  color: rgb(164,38,67);
  font-weight: 600;
}

.tag {
  color: rgb(200,100,100);
}

.answer {
  font-family: 'CooperHewitt-Medium';
  color: rgb(200,180,100);
}

/*.indicator {
  display: none;
}*/

svg {
  padding: 1.2em;
}

.grey {
  color: #777;
}

a {
  transition: color 0.25s;
}

a:link,
a:visited {
  /*color: #58ABE8;*/
  color: #3499E3;
  text-decoration: none;
}

a:hover {
  border-bottom: dotted 2px rgb(190,190,190);
}

.center {
  width: 100%;
  text-align: center;
}

table td {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.author {
  margin: auto;
  font-size: 1.35em;
  font-weight: 300;
}

.tree-pie, .tree-histogram, .tree-link {
  transition: opacity 0.2s;
}

/*
pre {
    font-size: 30px;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: left;
}

pre code {
    border-radius: 12px;
    background: none;
    padding: none;
}*/